/* Change the background of the entire visible page */
body {
    background-color:#ffeffb /* Very light pink */
}

/* Style for all paragraphs */
p {
    color:rgb(87, 0, 79);
    font-size: 24px;
    font-family: ' More Sugar', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 5px solid rgba(255, 110, 224, 0.747); /* Adds an orange border around the heading */
    padding: 10px;

